* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  text-align: center;
  margin-top: 30px;
}

div.container {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.container div.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div.container div.row input {
  height: 80px;
  width: 80px;
  margin: 10px;
  text-align: center;
  font-size: 50px;
}

div.row1 button {
  padding: 10px 15px;
  outline: none;
  border: 2px solid white;
  background-color: #f64f59;
  color: aliceblue;
  cursor: pointer;
}

div.row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
